.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    background: #5C9210;
    border: 1px solid #5C9210;
    padding: 8px;
    box-shadow: 4px 4px 4px 0px grey;
}

.Danger {

    background: red;
    border: 1px solid red;
    padding: 8px;
    box-shadow: 4px 4px 4px 0px grey;

}

.Info {

    background: #5e7ba0;
    border: 1px solid #5e7ba0;
    padding: 8px;
    box-shadow: 4px 4px 4px 0px grey;

}